body{
    background-color: grey;
}

table {
    background-color: black;
    margin: 50px auto;
} 

input{
    /* slova */
    font-size: xx-large;
    font-weight: bold;
    color: black; 
    /* ivica */
    border: none; 
    border-radius: 5px; 
    padding: 20px; 
}

input[type="button"] { 
    width: 100%;
    background-color: orange; 
} 
